<h1>Admin::Categories#new</h1>
<!--p>Find me in app/views/admin/categories/new.html.erb</p>-->
<p>Formulario para crear una ueva categories</p>

<%= render 'form', base_category: @category%>

<!--<%= link_to 'Volver', admin_categories_path%>-->

